* {
    box-sizing: border-box;
}
.container {
    width: 1920px;
    margin: 0 auto;
    padding: 0 20;
}
a {
    text-decoration: none;
}
#menu {
    display: flex;
    background-color: dimgrey;
}
#texf {
    align-items: center ;
}